
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
  height: 100vh;
  width: 100vw;
    
}
.card{
    border: 2px solid black;
}

.card{
    height: 450px;
    width: 600px;
    display: flex;
    flex-direction:column ;
    justify-content:baseline;

 
}
#heading1{
    color: black;
    font-size: 28px;
    font-weight: 600;
    margin-left: 40px;
    margin-bottom: 15px;
   
}
#h{
    margin-top: 16px;
}
#b1{
    margin-left: 40px;
    height: 18px;
    color: rgba(0, 0, 0, 0.767);
    margin-top: 10px;
}
.circle{
    margin-top: 15px;
    display: flex;
    justify-content: center;

}
.circle span{
   padding: 5px 8px;
    margin-right: 20px;
    border-radius:70% ;
    border: 2px solid rgba(0, 0, 0, 0.377)
    
}
#circle1{
    border:2px solid  #2596be;
}
.steps{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    font-size: 18px;
}
form div{
    margin: 15px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form div label{
    margin-right: 15px;
}
form div label input{
padding: 15px;
}
#Password,#email,#fname,#phone{
    padding: 2px;
    padding-right: 10px;
}
#email,#fname,#phone{
  
}
#email,#fname{
    padding-right: 16px;
   
}
#name,#fmail{
margin-right: 20px;    
}
#password,#phone{
    padding-right: 8px;
}
.btn1{
   display: flex;
   justify-content: center;
   align-items: center;
}
#btn1{
    background-color: #2596be;
    border: none;
    padding: 10px 20px;
    color: white;
    border: none;
    font-weight: 500;
    border-radius: 25px;
}
form div   input{
border-radius:4px;
border: 2px solid rgba(0, 0, 0, 0.266);
}
    main{
        position: relative;
        background-color: rgba(255, 255, 255, 0.2);
    }
    .card{
        position: absolute;
        background-color: white;
    }
    body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Main background */
.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("background.jpg"); /* apni image */
  background-size: cover;
  background-position: center;
}

/* Card with blur effect */
.card {
 

  background: rgba(255, 255, 255, 0.25); /* transparent */
  backdrop-filter: blur(10px);          /* BLUR */
  -webkit-backdrop-filter: blur(10px);  /* Safari support */

  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
#link{
    text-decoration: none;
    color: white;
}